<!DOCTYPE html>
<html>
<head>
  <title>Book Details</title>
  <link rel="stylesheet" type="text/css" href="./desgin.css">
</head>
<body>
  <div id="bookDetails">
    <h1>Book Details</h1>
    <p><strong>Title:</strong> {{ book_details.title }}</p>
    <p><strong>ID:</strong> {{ book_details.id }}</p>
    <p><strong>ISBN:</strong> {{ book_details.isbn }}</p>
    <p><strong>Author:</strong> {{ book_details.author }}</p>
    <p><strong>Section ID:</strong> {{ book_details.section_id }}</p>
    <p><strong>Publication Year:</strong> {{ book_details.publication_year }}</p>
    <p><strong>Rating:</strong> {{ book_details.rating }}</p>
    <p><strong>Volume:</strong> {{ book_details.volume }}</p>
    <p><strong>Pages:</strong> {{ book_details.pages }}</p>
    <button @click="addOrder">Purchase</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    const today = new Date();
    const formattedDate = today.toISOString().split('T')[0];
    const nextWeek = new Date(today);
    nextWeek.setDate(nextWeek.getDate() + 7);
    const formattedNextWeek = nextWeek.toISOString().split('T')[0];
    const userProfile = JSON.parse(sessionStorage.getItem("userprofile"));
    new Vue({
      el: '#bookDetails',
      data: {
        book_details: {}
      },
      mounted() {
        // Get the book ID from the URL parameter
        var params = new URLSearchParams(window.location.search);
        var bookId = params.get('id');
        
        // Fetch book details based on book ID
        fetch("/" + bookId + "/books")
          .then(response => response.json())
          .then(data => {
            this.book_details = data.book_details;
          })
          .catch(error => console.error('Error fetching book details:', error));
      },
      methods: {
        addOrder() {
          const params = new URLSearchParams(window.location.search);
          const bookId = params.get('id');
          fetch('/orderdetails/add', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body :JSON.stringify({
              "book_id":bookId,
              "member_id" : userProfile.id,
              "issued_date" : formattedDate,
              "return_date" : "Not Returned",
              "due_date" : formattedNextWeek,
              "overdue" : 0
            })
          })
          .then(response => response.json())
          .then(data=> {
            if (data.status === 'Success') {
              Swal.fire({
                icon: 'success',
                title: 'Book Purchased Successfully',
              }).then(() => {
                // Redirect to library home page
                window.location.href = './member_order_list.html';
              });
            }else if (data.status === -9) {
              Swal.fire({
                icon: 'error',
                title: 'Book has already been Purchased',
              });
            }
          })
          .catch(error => {
            console.error('Error purchasing book:', error);
            Swal.fire({
              icon: 'error',
              title: 'An error occurred',
              text: 'Failed to purchase book',
            });
          });
        }
      }
    });
  </script>
</body>
</html>
